
/* ================== SOBRE MIM ==================================== */
.container-sobre {
    position: absolute;
    top: 80.3rem;
}
.container-oq-ja-fiz {
    position: absolute;
    top: 140rem;

}
.text-reveal  {
    font-family: 'Almarai';
}
#sobre-mim {
    opacity: 0;
    transition: ease-in-out;
    font-size: 3.5rem;
    font-weight: 800;
    margin-top: 10rem;
}

#oq-ja-fiz {
    opacity: 0;
    transition: ease-in-out;
    font-size: 3.5rem;
    font-weight: 800;
    margin-top: 10rem;
}
#info > p {
    transform: translateY(100px);
    opacity: 0;
    transition: ease-in-out .2s;
}
#info-ja-fiz > p {
    transform: translateY(100px);
    opacity: 0;
    transition: ease-in-out .2s;
}
/* ================== SOBRE MIM ==================================== */
