
/* ============================ HERO ========================= */
.nav {
    font-size: 5rem;
    font-weight: 500;
}
.nav-link {
    font-size: 1.5rem;
}
.nav-item-link:hover {
    transition: ease-in-out 0.8s;
    color: #A855F7;
}
.icon-menu:hover {
    transition: ease-in-out 0.8s;
    color: #A855F7;

}
.hero-h2 {
    font-size: 3rem;
    font-weight: 800;
    font-family: 'Open Sans';
    letter-spacing: 0.2rem;
}
.hero-slogan-p {
    font-family: 'Almarai';
}
.btn {
    width: 15rem;
    height: 4rem;
    text-align: center;
}
.scroll-container {
    overflow: hidden;
    width: 2rem;
    height: 6rem;
    margin-bottom: 2rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid white;
}
.scroll-ball {
    width: 1rem;
    height: 1rem;
    background-color: white;
    border-radius: 2rem;
}
/* ============================ HERO ========================= */
